{% extends "base.html" %}

{% block meta %}
  {% with page_title="Home - "|add:site_name %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block pagetitle %}
  <div class="pagetitle">
    <h1>Home</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'home' %}"><i class="fas fa-house"></i></a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
{% endblock %}

{% block main %}
  <section class="section home">
  </section>
{% endblock %}