{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block meta %}
  {% with page_title="Change Password"|add:" - "|add:site_name %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block main %}
<section class="section d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex justify-content-center py-4">
          <a href="/" class="logo d-flex align-items-center w-auto text-decoration-none">
            <img src="{% static 'img/logo.png' %}" alt="GreenTechHub logo" />
            <span class="d-none d-lg-block ms-2">{{ site_name }}</span>
          </a>
        </div>

        <div class="card mb-3">
          <div class="card-body">

            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">{% trans "Change Password" %}</h5>
              <p class="text-center small">{% trans "Your password is now changed." %}</p>
            </div>

            <div class="d-grid gap-2 mt-3">
              <a href="{% url 'account_login' %}" id="go-to-login" class="btn btn-primary" aria-label="Go to login"
                 autofocus>
                <span class="btn-label">Login</span>
              </a>
              <a href="/" class="btn btn-outline-secondary">Back to Home</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
