{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block meta %}
  {% with page_title="Verify Your Email Address"|add:" - "|add:site_name %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block main %}
<section class="section d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex justify-content-center py-4">
          <a href="/" class="logo d-flex align-items-center w-auto text-decoration-none">
            <img src="{% static 'img/logo.png' %}" alt="{{ site_name }} logo" />
            <span class="d-none d-lg-block ms-2">{{ site_name }}</span>
          </a>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">{% trans "Verify Your Email Address" %}</h5>
              <p class="text-center small">{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalise the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}</p>
            </div>

            <div class="d-grid gap-2 mt-3">
              <a href="/" class="btn btn-outline-secondary">Back to Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
