{% extends "modal_forms/base_modal.html" %}

{% with header_class=header_class|default:"bg-warning text-dark" %}
  {% block modal_title %}
    {{ title|default:"Update" }}
  {% endblock %}

  {% block modal_body %}
    <form method="post" action="{{ action_url }}" id="{{ modal_id }}Form" novalidate>
      {% csrf_token %}
      {% if message %}<p class="mb-3">{{ message }}</p>{% endif %}
      {% if message_html %}<p class="mb-3">{{ message_html|safe }}</p>{% endif %}
      {% if extra_hidden_inputs %}
        {% for h in extra_hidden_inputs %}
          <input type="hidden" name="{{ h.name }}" value="{{ h.value }}">
        {% endfor %}
      {% endif %}

      {% block form_fields %}
        {% if form %}
          {% for field in form %}
            <div class="mb-3">
              <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
              {% if field.errors %}<div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>{% endif %}
            </div>
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
          {% endif %}
        {% endif %}
      {% endblock %}
  {% endblock %}

  {% block modal_footer %}
    {{ block.super }}
    {# submit auto-disables if require_text is used by children (used by delete confirmation modal #}
    <button type="submit" form="{{ modal_id }}Form" class="btn {{ submit_class|default:'btn-primary' }}"
            id="{{ modal_id }}SubmitBtn"
            {% if require_text %}disabled{% endif %}>
      {{ submit_label|default:"Save" }}
    </button>
    </form> {# close the form started in modal_body #}
  {% endblock %}
{% endwith %}
