{% load static %}
<link rel="stylesheet" href="{% static 'querybuilder/querybuilder.css' %}">

<div class="qb-root"
     data-qb
     data-config-id="{{ config_id }}"
     data-hidden="{{ target }}"
     data-compact="{{ compact|yesno:'true,false' }}"
     {% if initial %}data-initial='{{ initial|safe }}'{% endif %}></div>

<script>
  window.__QB_CONFIGS__ = window.__QB_CONFIGS__ || {};
  window.__QB_CONFIGS__["{{ config_id|escapejs }}"] = {{ fields_json|safe }};
</script>

<script src="{% static 'querybuilder/querybuilder.js' %}"></script>
